In [2]:
import pandas as pd

# Extracting Data from BDTNS

Go to http://bdtns.filol.csic.es/index.php?p=formulario_urIII.

In the Provenience drop down menu choose "Puzriš-Dagan" and hit "Search". This will give a list of about 15,000 tablets from Drehem. 

Now, hit "Export" on the left and in the pop-up window select every box except "Transliteration of the whole text(s)". Hit "export". This will produce a .txt file and you'll need to put it into the "bdtns_metadata" folder.

In [4]:
data = pd.read_csv('bdtns_metadata/query_cat_19_09_15-094640.txt', delimiter='\t', header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,38699,P142785,"AAICAB 1/1, Ashm. 1919-11a-b = CDLI P142785 = ...",Ashm. 1919-11a-b,Ashmolean Museum,IS01 - 07 - 00,Puzriš-Dagān,S,Tablet and Envelope
1,38700,P142787,"AAICAB 1/1, Ashm. 1923-412 = CDLI P142787",Ashm. 1923-412,Ashmolean Museum,SS05 - 06 - 12,Puzriš-Dagān,N,Tablet
2,38701,P142788,"AAICAB 1/1, Ashm. 1923-415 = CDLI P142788",Ashm. 1923-415,Ashmolean Museum,SH48 - 12 - 20,Puzriš-Dagān,N,NaN
3,38702,P142789,"AAICAB 1/1, Ashm. 1923-419 = CDLI P142789",Ashm. 1923-419,Ashmolean Museum,SS04 - XX - 15,Puzriš-Dagān,N,NaN
4,38703,P142790,"AAICAB 1/1, Ashm. 1923-420 = CDLI P142790",Ashm. 1923-420,Ashmolean Museum,XXXX - 01 - 01,Puzriš-Dagān,N,NaN

# Filtering Data

In [3]:
data[1].isnull().sum()

232

In [4]:
data = data.loc[~data[1].isnull(), :]

In [5]:
data[1].str[1:].head()

0    142785
1    142787
2    142788
3    142789
4    142790
Name: 1, dtype: object

In [6]:
drehem_p_numbers = set(data[1].str[1:].values)

In [7]:
parsed = pd.read_csv('output/parsed.csv')
parsed.head()

         lemma                    id_text  id_line      id_word label
0   3(diš)[]NU  epsd2/admin/u3adm/P124149        3  P124149.3.1   o 1
1  udu[sheep]N  epsd2/admin/u3adm/P124149        3  P124149.3.2   o 1
2   6(diš)[]NU  epsd2/admin/u3adm/P124149        4  P124149.4.1   o 2
3      u[ewe]N  epsd2/admin/u3adm/P124149        4  P124149.4.2   o 2
4   2(diš)[]NU  epsd2/admin/u3adm/P124149        5  P124149.5.1   o 3

In [8]:
parsed.id_text.str[-6:].head()

0    124149
1    124149
2    124149
3    124149
4    124149
Name: id_text, dtype: object

In [9]:
filtered = parsed.loc[parsed.id_text.str[-6:].isin(drehem_p_numbers), :]
filtered.shape

(552802, 5)

In [10]:
filtered.to_csv('output/filtered.csv')