In [124]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN

In [103]:
people

,name,roles,profession,processed date,Archive
4569,...-a,NaN,nubanda[overseer],67.0505,domesticated animal
22306,...-a,NaN,udu[sheep],62.0400,domesticated animal
22613,...-a,NaN,NaN,61.0401,dead animal
22617,...-a,NaN,NaN,75.0315,domesticated animal
10372,...-a,NaN,NaN,66.0612,dead animal
22611,...-a,NaN,NaN,NaN,queen
22292,...-a,NaN,udu[sheep],NaN,domesticated animal
3177,...-a,NaN,NaN,85.1000,domesticated animal
15336,...-a,NaN,NaN,71.0100,dead animal
22604,...-a,{'source'},NaN,NaN,queen
3812,...-a,{'representative'},nubanda[overseer],NaN,domesticated animal
6165,...-a,NaN,NaN,NaN,domesticated animal
11645,...-a,NaN,NaN,68.0000,domesticated animal
17386,...-a,NaN,NaN,NaN,queen
14542,...-a,NaN,hulu[bad],80.0202,domesticated animal
11604,...-a,NaN,NaN,80.0000,leather object
379,...-a,NaN,NaN,NaN,domesticated animal
22616,...-a,{'recipient'},NaN,75.0200,domesticated animal
9080,...-ak,NaN,NaN,NaN,domesticated animal
345,...-ar,NaN,kuš[official],NaN,domesticated animal
11012,...-ba-ta,NaN,NaN,72.0600,unknown
13733,...-bar-re,NaN,NaN,71.1003,domesticated animal
8253,...-bi,NaN,NaN,79.0000,unknown
185,...-bi,NaN,NaN,61.0500,domesticated animal
22656,...-bi,NaN,NaN,83.1103,dead animal
22637,...-bi-mu,NaN,NaN,62.0500,dead animal
9758,...-da,NaN,dubsar[scribe],NaN,domesticated animal
11985,...-da,NaN,NaN,86.0303,domesticated animal
9149,...-da,NaN,nagada[herdsman],65.0500,dead animal
12855,...-da,NaN,NaN,64.0000,unknown
...,...,...,...,...,...
4419,šu-{d}šul-gi,NaN,nubanda[overseer],78.0622,domesticated animal
3829,šu-{d}šul-gi,NaN,NaN,NaN,domesticated animal
3554,šu-{d}šul-gi,NaN,nubanda[overseer],80.0712,domesticated animal
3427,šu-{d}šul-gi,NaN,nubanda[overseer],77.1029,domesticated animal
35656,šu-{d}šul-gi,NaN,NaN,52.1200,unknown
7317,šu-{d}šul-gi,NaN,NaN,NaN,unknown
8216,šu-{d}šul-gi,NaN,šuʾi[barber],82.1124,domesticated animal
8204,šu-{d}šul-gi,NaN,šuʾi[barber],82.0311,domesticated animal
8478,šu-{d}šul-gi,{'intermediary'},sukkal[secretary],NaN,domesticated animal
12901,šu-{d}šul-gi,{'intermediary'},sukkal[secretary],73.0816,domesticated animal
20301,šu-{d}šul-gi,NaN,nubanda[overseer],NaN,domesticated animal
21024,šu-{d}šul-gi,NaN,NaN,73.0309,domesticated animal
8221,šu-{d}šul-gi,{'source'},šuʾi[barber],83.0217,unknown
22636,šu-{d}šul-gi,NaN,NaN,75.0315,domesticated animal
6258,šu-{d}šul-gi,{'intermediary'},sukkal[secretary],72.0409,domesticated animal
23228,šu-{d}šul-gi,NaN,NaN,67.0427,domesticated animal
24997,šu-{d}šul-gi,NaN,NaN,71.0818,domesticated animal
8664,šu-{d}šul-gi,NaN,NaN,61.0600,domesticated animal
23115,šu-{d}šul-gi,NaN,NaN,65.1025,queen
18597,šu:{d}dumu-zi,{'intermediary'},NaN,65.0818,domesticated animal
18242,šul-ga₂-a-ad,NaN,lu[person],73.0801,domesticated animal
17975,šul-ga₂-a-ad,NaN,lu[person],73.0807,domesticated animal
18248,šul-ga₂-a-ad,NaN,lu[person],74.0903,domesticated animal
5159,šul-ga₂-a-ad,NaN,lu[person],73.0802,domesticated animal
17954,šul-ga₂-a-ad,NaN,lu[person],73.0805,domesticated animal
12898,šul-ga₂-a-ad,NaN,lu[person],73.0816,domesticated animal
2232,šul-ga₂-a-ad,NaN,lu[person],74.0913,domesticated animal
18253,šul-ga₂-a-ad,NaN,lu[person],74.0905,domesticated animal
22038,šul-gi,NaN,NaN,50.1000,queen
2166,šul-gi-ra,NaN,šum[give],68.0800,domesticated animal

In [100]:
people = pd.read_csv("people_Drehem.csv")
archives = pd.read_csv("archive_map.csv")
archives['PID'] = [int(archives['PID'][i][1:]) for i in np.arange(len(archives['PID']))]
people = pd.merge(people, archives, how='inner', left_on='p index', right_on='PID')
people = people.drop(['PID', 'normalized name', 'family', 'date name', 'p index'], axis=1)
people = people.sort_values(['name'])

Our people dataframe contains columns for the variables we want to use on our clustering algorithm. Our next step is to convert our categorical data into numerical data. We can do this by creating a binary matrix.

In [87]:
people_cat = people.select_dtypes(include=[object])
people_cat['profession'] = people_cat['profession'].astype(str)
people_cat['roles'] = people_cat['roles'].astype(str)
people_cat.head(3)

/Users/anjaliunnithan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/anjaliunnithan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        name roles         profession              Archive
4569   ...-a   nan  nubanda[overseer]  domesticated animal
22306  ...-a   nan         udu[sheep]  domesticated animal
22613  ...-a   nan                nan          dead animal

In [92]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [93]:
people_cat.columns

Index(['name', 'roles', 'profession', 'Archive'], dtype='object')

In [96]:
# TODO: create a LabelEncoder object and fit it to each feature in people_cat


# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
people_cat_2 = people_cat.apply(le.fit_transform)
people_cat_2

       name  roles  profession  Archive
4569      0      0         153        1
22306     0      0         195        1
22613     0      0         145        0
22617     0      0         145        1
10372     0      0         145        0
22611     0      0         145        4
22292     0      0         195        1
3177      0      0         145        1
15336     0      0         145        0
22604     0     14         145        4
3812      0     13         153        1
6165      0      0         145        1
11645     0      0         145        1
17386     0      0         145        4
14542     0      0          97        1
11604     0      0         145        2
379       0      0         145        1
22616     0      9         145        1
9080      1      0         145        1
345       2      0         121        1
11012     3      0         145        5
13733     4      0         145        1
8253      5      0         145        5
185       5      0         145        1
22656     5      0         145        0
22637     6      0         145        0
9758      7      0          43        1
11985     7      0         145        1
9149      7      0         141        0
12855     7      0         145        5
...     ...    ...         ...      ...
4419   4138      0         153        1
3829   4138      0         145        1
3554   4138      0         153        1
3427   4138      0         153        1
35656  4138      0         145        5
7317   4138      0         145        5
8216   4138      0         248        1
8204   4138      0         248        1
8478   4138      3         175        1
12901  4138      3         175        1
20301  4138      0         153        1
21024  4138      0         145        1
8221   4138     14         248        5
22636  4138      0         145        1
6258   4138      3         175        1
23228  4138      0         145        1
24997  4138      0         145        1
8664   4138      0         145        1
23115  4138      0         145        4
18597  4139      3         145        1
18242  4140      0         127        1
17975  4140      0         127        1
18248  4140      0         127        1
5159   4140      0         127        1
17954  4140      0         127        1
12898  4140      0         127        1
2232   4140      0         127        1
18253  4140      0         127        1
22038  4141      0         145        4
2166   4142      0         246        1

[43017 rows x 4 columns]

In [97]:
# TODO: create a OneHotEncoder object, and fit it to all of people_cat

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(people_cat_2)

# 3. Transform
onehotlabels = enc.transform(people_cat_2).toarray()
onehotlabels.shape

# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

(43017, 4415)

In [98]:
onehotlabels

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

We just converted our categorical data into a sparse matrix. We should add this matrix to our quantitative data.

In [122]:
dates = [[people['processed date'].values[i]] for i in np.arange(len(people['processed date']))]
people_cat_quant = np.hstack((onehotlabels, dates))
people_cat_quant

array([[ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 67.0505],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 62.04  ],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 61.0401],
       ...,
       [ 0.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 74.0905],
       [ 0.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 50.1   ],
       [ 0.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 68.08  ]])

Our matrix is now ready to be passed through the DBSCAN algorithm.